h1 {
    color: #4ABDAC;
    font-family: Arial;
    font-weight: bold;
    padding-top: 25px;
}

h2 {
    color: #FC4A1A;
    font-family: Arial;
    font-weight: bold;
    padding-top: 25px;
}

h3 {
    color: #FEC830;
    font-family: Arial;
}

p {
    color: black;
    font-family: Arial;
}

a {
    color: #4ABDAC;
}

#alertButton {
    color: #F5F5F5;
    background-color: #FC4A1A;
    border-color: #F5F5F5;
    margin-bottom: 15px;
}

#alertButton:hover {
    color: #FC4A1A;
    background-color: #F5F5F5;
    border-color: #FC4A1A;
    margin-bottom: 15px;
}


#navButton {
    color: #F5F5F5;
    background-color: #4ABDAC;
    border-color: #F5F5F5;
}

#navButton:hover {
    color: #4ABDAC;
    background-color: #F5F5F5;
    border-color: #4ABDAC;
}

#searchButton {
    color: #F5F5F5;
    background-color: #4ABDAC;
    border-color: #F5F5F5;
}

#searchButton:hover {
    color: #4ABDAC;
    background-color: #F5F5F5;
    border-color: #4ABDAC;
}

#searchBox {
    text-align: left;
    border-color: #4ABDAC;
    border-width: thin;
}

.btn btn-nav {
    color: #F5F5F5;
    background-color: #4ABDAC;
    border-color: #F5F5F5;
}

.btn btn-nav:hover {
    color: #4ABDAC;
    background-color: #F5F5F5;
    border-color: #4ABDAC;
}

.btn btn-prim {
    color: #F5F5F5;
    background-color: #FC4A1A;
    border-color: #F5F5F5;
}

.btn btn-prim:hover {
    color: #FC4A1A;
    background-color: #F5F5F5;
    border-color: #FC4A1A;
}

.btn btn-secondary {
    color: #F5F5F5;
    background-color: #FEC830;
    border-color: #F5F5F5;
}

.btn btn-secondary:hover {
    color: #FEC830;
    background-color: #F5F5F5;
    border-color: #FEC830;
}

/*input {
    color: #4ABDAC;
    background-color: #F5F5F5;
    border-color: #4ABDAC;
    border-width: thin;
}
    */

marquee {
    color: #F5F5F5;
    font-family: Arial;
}

.inputLabel {
    color: #4ABDAC;
    font-weight: bold;
}

.deleteLabels {
    color: #4ABDAC;
    font-weight: bold; 
}

