@model BoxProblem.Data.BoxInventory;
@{
    ViewData["Title"] = "Delete";
}
<link href="~/bootstrap.css" rel="stylesheet" />
<link href="~/css/StyleSheet.css" rel="stylesheet" />

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="inputLabel">
            Weight
        </dt>

        <dd class="inputLabel">
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            Volume 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

